
{% extends 'layout.html'%}



{%block body%}
    <div class='inputbox'>
    <h2>Try your Example</h2>
    <p>Find out if the Model can classify the input:</p>
    <br>
    <br>
    <br>
    {% from "includes/_form.html" import render_field %}
        <form method="POST" action="">
        <div class="form-group">
            {{render_field(form.name, class_="form-control")}}<br><br>
            <p><input type="submit" class="btn btn-primary" value="Submit"></p>
        </div>
        </form>
    </div>
{%endblock%}